[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
galois = "*"
sympy = "*"
numpy = "*"

[dev-packages]
jupyter = "*"
pytest = "*"
nbconvert = "*"
jupytext = "*"
nbqa = { extras = ["toolchain"], version = "*" }

[requires]
python_version = "3.10"
